<a href="https://colab.research.google.com/github/Jaomiew/DPDM2023/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตาราง ซึ่งใน pandas เรียกว่า dataframe

pandas is a python package for manage table data. panda data structure for table is DataFrame

In [ ]:
import pandas #import pandas คือ โหลด package มีชื่อว่า pandas มาใช้

In [ ]:
import pandas as pd # โหลด pandas package แล้วตั้งชื่อให้ว่า pd แทน

ไฟล์ .CSV (csv = comma separated values)
- ใช้เครื่องหมาย comma ในการแบ่ง(คั่น)แต่ละ Columns
- ขึ้น record ใหม่จะใช้การ Enter

In [ ]:
data_df = pd.read_csv('/content/data.csv')

- function ชื่อว่า "read_csv" จะเรียกข้อมูลให้ออกมาอยู่ใน format ของตาราง

In [ ]:
data_df #เรียกดูตาราง csv.

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

## Data structure (โครงสร้างข้อมูล)

### list
- การที่นำตัวแปรมาเรียงต่อกันเรื่อยๆและคั่นด้วยเครื่องหมาย comma (,)
- สามารถนำตัวแปรชนิดไหนก็ได้มาเก็บไว้ใน list เดียวกัน ไม่จำเป็นต้องเป็น type เดียวกัน
- สนใจลำดับใน list เป็นสำคัญ เพราะสามารถบอกค่าใน list ได้ด้วยลำดับ(indexing)

In [ ]:
list_a = [1,2,3,0.9,'aaz', data_df] ## [] (square brackets)

In [ ]:
list_a

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3]

### indexing

In [ ]:
list_a[1] #เลือกตัวที่ 1 มา

2

In [ ]:
list_a[5]  #เลือกตัวที่ 5 มา

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

### Negative index ชี้ค่าใน list จากด้านหลัง

In [ ]:
list_a[-1] ## Negative index  อ่านจากข้างหลังมาข้างหน้า

   Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3

In [ ]:
list_b = ['pizza', list_a]
list_b

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3]]

In [ ]:
list_b = ['pizza', list_a, 9]
list_b

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3],
 9]

In [ ]:
list_b[1][0]  #เอาlist_a ตัวที่ 0

1

In [ ]:
list_b[1] #เอาlist_a

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3]

### - String คือ list ของตัวอักษร

In [ ]:
x = 'shabu'
x[-2] ##ชี้ไปที่ตัว  b

'b'

In [ ]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3]
['pizza', [1, 2, 3, 0.9, 'aaz',    Car_ID         Model   Year   Value   Pers_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugeot   1993     500         3], 9]

In [ ]:
list_a + list_b

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_ID         Model   Year   Value   Pers_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugeot   1993     500         3,
 'pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_ID         Model   Year   Value   Pers_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugeot   1993     500         3],
 9]

### การสร้าง list
1. สร้าง list ว่าง
2. เพิ่มสมาชิกเข้าไปใน list
3. สามารถชี้ค่าใน list จากข้างหลังได้

1. การสร้าง list ว่าง

In [ ]:
list_aa = []
list_aa

[]

In [ ]:
list_bb = list()
print(list_bb)

[]

2. การเพิ่มสมาชิกลงไปใน list (.append())

In [ ]:
list_aa.append('chiken')
list_aa.append('water')
list_aa.append('vegetable')

In [ ]:
list_aa.append('rice')

In [ ]:
list_aa

['chiken', 'water', 'vegetable', 'rice']

In [ ]:
list_aa[-1] ##ชี้จากข้างหลัง

'rice'

In [ ]:
list_aa[2] ##ชี้แบบปกติ (จากข้างหน้า)

'vegetable'

In [ ]:
list_aa.append('plate') #ใส่เพิ่มเข้าไป
#list_aa
list_aa[-2]

'rice'

In [ ]:
list_aa.append('spoon')
list_aa.append('fork')
list_aa.append('knife')

In [ ]:
list_aa.append('apple')

### list slicing

: (colon)

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์ทางคณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

- เหมือนสัญลักษณ์ของเส้นจำนวน ตัวหน้าคือวงกลมทึบ, ตัวหลังคือวงกลมโป่ง

![image.png]()

In [ ]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'plate',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
list_aa[2:7:1] ##เริ่มตัวที่2 จบก่อนตัวที่7 มาทีละ1

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
list_aa[2:7]

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [ ]:
list_aa[2:]

['vegetable', 'rice', 'plate', 'spoon', 'fork', 'knife', 'apple']

In [ ]:
list_aa[:5]

['chiken', 'water', 'vegetable', 'rice', 'plate']

In [ ]:
list_aa[:5:2] #กระโดดทีละ2

['chiken', 'vegetable', 'plate']

In [ ]:
list_aa[::-1] #สลับจากหลังไปหน้า

['apple',
 'knife',
 'fork',
 'spoon',
 'plate',
 'rice',
 'vegetable',
 'water',
 'chiken']

##### **Quiz 1**

ตัด ส่วนของ list เหล่านี้มาจาก list_aa

1. 'iken'
2. 'get'
3. 'tab'

In [ ]:
list_aa[0][2:]

'iken'

In [ ]:
list_aa[2][2:5]

'get'

In [ ]:
list_aa[2][4:7]

'tab'

In [ ]:
list_aa[-1][1:]

'pple'

In [ ]:
list_aa[1][:3]

'wat'

## Loop
การให้ com ทำงานที่ซ้ำๆกัน หรือทำงานที่คล้ายๆกันหลายๆรอบ

indent

``` python
for ตัวแปรที่เราจะรับค่าจาก list in list ที่ต้องการจะวนลูป :
    do something
    do another thing

this is outside the loop

```

In [ ]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'plate',
 'spoon',
 'fork',
 'knife',
 'apple']

In [ ]:
for each in list_aa:
    print (each)

chiken
water
vegetable
rice
plate
spoon
fork
knife
apple

In [ ]:
for i in [1,2,3]:
    print (i, end='')
    print('xxx')

1xxx
2xxx
3xxx

ทำงานคล้ายๆกัน

In [ ]:
for i in list_aa:
    print(f'now i is {i}')
    print(f'I like to eat {i}\n//////////')

now i is chiken
I like to eat chiken
//////////
now i is water
I like to eat water
//////////
now i is vegetable
I like to eat vegetable
//////////
now i is rice
I like to eat rice
//////////
now i is plate
I like to eat plate
//////////
now i is spoon
I like to eat spoon
//////////
now i is fork
I like to eat fork
//////////
now i is knife
I like to eat knife
//////////
now i is apple
I like to eat apple
//////////

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(10,20,2))  #เริ่ม 10 จบก่อน 20 กระโดดทีละ 2

[10, 12, 14, 16, 18]

In [ ]:
for i in range(100):
    print(f'Ha{i}',end='')

Ha0Ha1Ha2Ha3Ha4Ha5Ha6Ha7Ha8Ha9Ha10Ha11Ha12Ha13Ha14Ha15Ha16Ha17Ha18Ha19Ha20Ha21Ha22Ha23Ha24Ha25Ha26Ha27Ha28Ha29Ha30Ha31Ha32Ha33Ha34Ha35Ha36Ha37Ha38Ha39Ha40Ha41Ha42Ha43Ha44Ha45Ha46Ha47Ha48Ha49Ha50Ha51Ha52Ha53Ha54Ha55Ha56Ha57Ha58Ha59Ha60Ha61Ha62Ha63Ha64Ha65Ha66Ha67Ha68Ha69Ha70Ha71Ha72Ha73Ha74Ha75Ha76Ha77Ha78Ha79Ha80Ha81Ha82Ha83Ha84Ha85Ha86Ha87Ha88Ha89Ha90Ha91Ha92Ha93Ha94Ha95Ha96Ha97Ha98Ha99

### Nested loop

- loop ซ้อน loop

In [ ]:
for i in range(3):
    print(f'i = {i}')
    for j in range(2):
      print(f'i = {i}, j = {j}, i+j = {i+j}')

i = 0
i = 0, j = 0, i+j = 0
i = 0, j = 1, i+j = 1
i = 1
i = 1, j = 0, i+j = 1
i = 1, j = 1, i+j = 2
i = 2
i = 2, j = 0, i+j = 2
i = 2, j = 1, i+j = 3

Ex

สร้าง list
[[1],[1,1], [1,1,1],...,[1,1,1,1,1,1,1,1,1,1] โดยใช้ for loop

In [ ]:
list_A = []
for i in range(10):
  AA = []
  for j in range(i+1):
      A=1
      AA.append(A)
  list_A.append(AA)

In [ ]:
list_A = []
for i in range(10):
   AA = []
   for j in range(i+1):
      A=1
      AA.append(A)
   list_A.append(AA)

In [ ]:
list_A

[[1],
 [1, 1],
 [1, 1, 1],
 [1, 1, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

In [ ]:
##answer
list_ans = []
print(f'list_ans = {list_ans}')
for i in range(1, 11):
    temp = []
    #print(f'temp = {temp}')
    for j in range(i):
        temp.append(1)
    print(f'i = {i} j = {j} : temp = {temp}')
    list_ans.append(temp)
    print(f'list_ans = {list_ans} \n ---------')

print(list_ans)

list_ans = []
i = 1 j = 0 : temp = [1]
list_ans = [[1]]
 ---------
i = 2 j = 1 : temp = [1, 1]
list_ans = [[1], [1, 1]]
 ---------
i = 3 j = 2 : temp = [1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1]]
 ---------
i = 4 j = 3 : temp = [1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
 ---------
i = 5 j = 4 : temp = [1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
 ---------
i = 6 j = 5 : temp = [1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
 ---------
i = 7 j = 6 : temp = [1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
 ---------
i = 8 j = 7 : temp = [1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
 ---------
i = 9 j = 8 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
 ---------
i = 10 j = 9 : temp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
 ---------
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

Quiz 2
create a list
[[a],[a,b], [a,b,c],...,[a,b,c,d,f,g,h,i] wiht for loop

# ค่อยมาแก้

In [ ]:
q2 = ['a','b','c','d','e','f','g','h','i','j']
list_A = []
for i in range (1,11):
      list_A.append (q2[:i])

In [ ]:
list_A

[['a'],
 ['a', 'b'],
 ['a', 'b', 'c'],
 ['a', 'b', 'c', 'd'],
 ['a', 'b', 'c', 'd', 'e'],
 ['a', 'b', 'c', 'd', 'e', 'f'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']]

## Conditional Statement (if statement)


``` python
if เงื่อนไขที่เราจะตรวจสอบ (โดยอาศัยสัญลักษณ์เหล่านี้ ==, !=, <, >, <=, >=, in, is_null()) :
    ถ้าเงื่อนไขเป็นจริง ทำ
    ถ้าเงื่อนไขเป็นจริง ทำ
```

In [ ]:
if 1<5:
   print('yes')

yes

## Conditional Statement (if statement)


``` python
if เงื่อนไขที่เราจะตรวจสอบ (โดยอาศัยสัญลักษณ์เหล่านี้ ==, !=, <, >, <=, >=, in, is_null()) :
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
elif เงื่อนไขที่เราจะตรวจสอบต่อไปนี้ถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่เราจะตรวจสอบต่อไปนี้ถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: # ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ x
```

In [ ]:
x = 12

if x<5:
   print('yes')
else:
   print('no')

no

In [ ]:
v = 1

if v<5:
   print('yes')
else:
   print('no')

yes

### Example
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช่ function min (ใช้ for กับ if)

In [ ]:
list_ex=[1,5,9,-19,2,0]

In [ ]:
minimum = list_ex[0]
for number in list_ex:
    if minimum > number:
       minimum = number
print(minimum)

-19

In [ ]:
##เฉลย
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i')

print(min)

[1, 5, 9, -19, 2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = 2, min = -19
start condition
i >= min, not update
end condition, go to next i
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
-19

In [ ]:
list_ex = [1,5,9,-19,-2,0]

min = 100000000
for x in list_ex:
    if x < min:
        min = x

print(min)

-19

#### ex
list_ex = [1,5,9,-19,-2,0]

*หาค่ามากที่สุดใน list_ex โดยไม่ใช้ function max (ใช้ for กับ if)*

In [ ]:
list_ex = [1,5,9,-19,-2,0]

In [ ]:
maximum = list_ex[0]
for number in list_ex:
    if maximum < number:
       maximum = number
print(maximum)

9

### HW 1 sort the number in ```list_ex```without using max() function (you can sue only for and if) => 15/8/66

เรียงจากน้อยไปมาก

In [ ]:
list_ex = [1, 5, 9, -19, -2, 0]
n = len(list_ex)

for i in range(n - 1):
#เริ่ม Loop List ครั้งแรกก่อน
    for j in range(0, n - i - 1):
#เริ่ม Loop List ครั้งที่ 2
        if list_ex[j] > list_ex[j + 1]:
# loop list ครั้งที่ 2 ตัวปัจจุบันเทียบกับตัวถัดไป
            list_ex[j], list_ex[j + 1] = list_ex[j + 1], list_ex[j]
#ถ้าตัวปัจจุบันมีค่ามากกว่าตัวถัดไปเรียงใหม่ให้เป็น ตัวถัดไป,ตัวปัจจุบัน

print(f'List เมื่อเรียงจากน้อยไปมากเท่ากับ',list_ex)

List เมื่อเรียงจากน้อยไปมากเท่ากับ [-19, -2, 0, 1, 5, 9]

เรียงจากมากไปน้อย

In [ ]:
list_ex = [1, 5, 9, -19, -2, 0]
n = len(list_ex)

for i in range(n - 1):
#เริ่ม Loop List ครั้งแรกก่อน
    for j in range(0, n - i - 1):
#เริ่ม Loop List ครั้งที่ 2
        if list_ex[j] < list_ex[j + 1]:
# loop list ครั้งที่ 2 ตัวปัจจุบันเทียบกับตัวถัดไป
            list_ex[j], list_ex[j + 1] = list_ex[j + 1], list_ex[j]
#ถ้าตัวปัจจุบันมีค่าน้อยกว่าตัวถัดไปเรียงใหม่ให้เป็น ตัวถัดไป,ตัวปัจจุบัน

print(f'List เมื่อเรียงจากมากไปน้อยเท่ากับ',list_ex)

List เมื่อเรียงจากมากไปน้อยเท่ากับ [9, 5, 1, 0, -2, -19]

***

2. using Python’s math module:

In [ ]:
import math

In [ ]:
math.inf

inf

In [ ]:
-math.inf

-inf

###Function

``` python
def ชื่อฟังก์ชั่น(input1,input2,....):
    งานxxx
    งานyyy
    return output
```

![image.png]()

**ส่วนประกอบสำคัญ**
- function name

- input

- process (ไม่มีไม่ได้)

- output

## Example

In [ ]:
def find_min(list_ex):
    min = 100000000
    for x in list_ex:
        if x < min:
            min = x

    return min

In [ ]:
list_A = [1,5,9,-19,-2,0]
XXX = find_min(list_A)
print(XXX)

-19

In [ ]:
find_min([-9,99,0,-34])

-34

#### Example 2
Function ที่ไม่มี Output
- ไม่มีตัวแปรเก็บค่า แต่ให้แสดงค่าออกมาเลย

In [ ]:
def find_min2(list_ex): ## ไม่มีเก็บค่าในตัวแปร ให้ return
    min = 100000000
    for x in list_ex:
        if x < min:
            min = x
    print(min)

In [ ]:
find_min2(list_A)

-19

In [ ]:
YYY  = find_min2(list_A) ## ไม่เก็บค่า แต่ print ออกมาเลย

-19

In [ ]:
YYY

#### Example 3
Function แบบไม่มี Input

In [ ]:
def Pi_val():
    return 3.1416

In [ ]:
r = 10
print(f'พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลางเท่ากับ {r} คือ {Pi_val()*r*r}')

พื้นที่วงกลมที่มีเส้นผ่านศูนย์กลางเท่ากับ 10 คือ 314.16

#### Example 4
Function ที่มีแต่ Process อย่างเดียว

In [ ]:
def draw_rectangle():
    print('======')
    print('|    |')
    print('======')

In [ ]:
draw_rectangle()

======
|    |
======

In [ ]:
def draw_hello():
    print('============')
    print('|  Hello  |')
    print('============')

In [ ]:
draw_hello()

============
|  Hello  |
============

Function ที่ไม่มี Process จะ Run ไม่ได้

In [ ]:
def draw_rectangle():

SyntaxError: ignored

**ลักษณะของ input(หรือ paremeter, หรือ argument)**

- จำเป็นต้องใส่ (non-default argument)

- ไม่จำเป็นต้องใส่ (default argument) มี default อยู่แล้ว

In [ ]:
def draw_rectangle(dbbound=True): ## ค่า default คือ True เป็น input ที่ใส่ หรือไม่่ใส่ก็ได้
    if dbbound:
        print('========')
        print('||    ||')
        print('========')
    else:
        print('________')
        print('|      |')
        print('--------')

In [ ]:
draw_rectangle()

========
||    ||
========

In [ ]:
draw_rectangle(True)

========
||    ||
========

In [ ]:
draw_rectangle(False)

________
|      |
--------

 ไม่มี input ที่เป็นค่า default

In [ ]:
find_min2() ## ไม่มี input ที่เป็นค่า default

TypeError: ignored

In [ ]:
#''' นำ input ที่จำเป็นต้องใส่มาไว้ด้านหน้าก่อน
def draw_rectangle(size,dbbound=True): ## size เป็น input ที่ต้องใส่
    if dbbound:
        up = '='
        space = ' '
        print(f'{(size+4)*up}')
        print(f'||{size*space}||')
        print(f'{(size+4)*up}')
    else:
        up = '-'
        space = ' '
        print(f'{(size+4)*up}')
        print(f'|{size*space}|')
        print(f'{(size+4)*up}')

In [ ]:
draw_rectangle() ## ถ้าไม่ใส่ input ที่จำเป็นต้องใส่ จะ Errors

In [ ]:
draw_rectangle(10,False)

TypeError: ignored

In [ ]:
draw_rectangle(20,False)

In [ ]:
def draw_rectangle(size,dbbound=True):
    if dbbound:
        up = '='
        #space = ' '
        print(f'{(size+4)*up}')
        print(f'||{size*" "}||')
        print(f'{(size+4)*up}')
    else:
        up = '-'
        #space = ' '
        print(f'{(size+4)*up}')
        print(f'|{size*" "}|')
        print(f'{(size+4)*up}')

ไม่ได้ใส่ parameter ตามลำดับ แต่ใส่ parameter ที่จำเป็นต้องใส่ก็สามารถ run ได้ ถ้าใส่ชื่อของ parameter ด้วย

In [ ]:
draw_rectangle(dbbound=False,size=7)

-----------
|       |
-----------

In [ ]:
draw_rectangle(dbbound=False,size=25)

-----------------------------
|                         |
-----------------------------

In [ ]:
draw_rectangle(size=7)

===========
||       ||
===========

#### ex

สร้าง function

- วาด 4 เหลี่ยม ให้สามารถกำหนด ความยาว เเละ ความกว้าง ได้
- เเต่ถ้าใส่ parameter ตัวเดียวก็ให้วาด 4 เหลี่ยม จัสตุรัส ที่มี ความยาว เเละ ความกว้าง เท่ากับ parameter ที่ใส่

ให้ปริ้น ความกว้างxความยาวของสี่เหลี่ยม


(ให้ปริ้น ความกว้าง x ความยาวของ สี่เหลี่ยม)

**ตัวอย่าง**

rext(3,5)
> 3 x 5

rext(7)

> 7 x 7

In [ ]:
def draw_rectagle(W, H): #เติมค่่า ตัวหนึ่งได้เเต่ใช้สองตัว
    print(f'{W} x {H}')
draw_rectagle(3, 5)

3 x 5

In [ ]:
def draw_rectagle(W, H=True): #เติมค่่า ตัวหนึ่งได้เเต่ใช้สองตัว
    if H == True: #เช็ค if parameter 1 ตัว
        H=W
    print(f'{W} x {H}')

### HW2
cerate a function that
1. sort a list
2. you can spcify to the function that sort is assending or descending with ascending as default
3. have 2 argument on default and one non-default.

In [2]:
list_ex = [1, 5, 9, -19, -2, 0]
list_ex2 = [10, -5, 74, 5, 31, 1]

def sort(input, ascending=False):
# Sort ด้วย input = list และกำหนดให้ค่า Default เป็น ascending = False เรียงจากน้อยไปมาก
  return sorted(input,reverse=ascending)

ให้เป็น argument Default เพื่อเรียงจากน้อยไปมาก

In [3]:
sort(list_ex)

[-19, -2, 0, 1, 5, 9]

In [4]:
sort(list_ex2)

[-5, 1, 5, 10, 31, 74]

ให้เป็น argument non-Default เพื่อเรียงจากมากไปน้อย

In [5]:
sort(list_ex,True)

[9, 5, 1, 0, -2, -19]

In [7]:
sort(list_ex2,True)

[74, 31, 10, 5, 1, -5]