<a href="https://colab.research.google.com/github/Jaomiew/DPDM2023/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตาราง ซึ่งใน pandas เรียกว่า dataframe

pandas is a python package for manage table data. panda data structure for table is DataFrame

In [1]:
import pandas #import pandas คือ โหลด package มีชื่อว่า pandas มาใช้

In [2]:
import pandas as pd # โหลด pandas package แล้วตั้งชื่อให้ว่า pd แทน

ไฟล์ .CSV (csv = comma separated values)
- ใช้เครื่องหมาย comma ในการแบ่ง(คั่น)แต่ละ Columns
- ขึ้น record ใหม่จะใช้การ Enter

In [3]:
data_df = pd.read_csv('/content/data.csv')

- function ชื่อว่า "read_csv" จะเรียกข้อมูลให้ออกมาอยู่ใน format ของตาราง

In [5]:
data_df #เรียกดูตาราง csv.

   Car_id         Model   Year   Value   Pera_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugrot   1993     500         3

## Data structure (โครงสร้างข้อมูล)

### list
- การที่นำตัวแปรมาเรียงต่อกันเรื่อยๆและคั่นด้วยเครื่องหมาย comma (,)
- สามารถนำตัวแปรชนิดไหนก็ได้มาเก็บไว้ใน list เดียวกัน ไม่จำเป็นต้องเป็น type เดียวกัน
- สนใจลำดับใน list เป็นสำคัญ เพราะสามารถบอกค่าใน list ได้ด้วยลำดับ(indexing)

In [6]:
list_a = [1,2,3,0.9,'aaz', data_df] ## [] (square brackets)

In [7]:
list_a

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_id         Model   Year   Value   Pera_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugrot   1993     500         3]

### indexing

In [9]:
list_a[1] #เลือกตัวที่ 1 มา

2

In [8]:
list_a[5]  #เลือกตัวที่ 5 มา

   Car_id         Model   Year   Value   Pera_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugrot   1993     500         3

### Negative index ชี้ค่าใน list จากด้านหลัง

In [10]:
list_a[-1] ## Negative index  อ่านจากข้างหลังมาข้างหน้า

   Car_id         Model   Year   Value   Pera_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugrot   1993     500         3

In [11]:
list_b = ['pizza', list_a]
list_b

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_id         Model   Year   Value   Pera_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugrot   1993     500         3]]

In [12]:
list_b = ['pizza', list_a, 9]
list_b

['pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_id         Model   Year   Value   Pera_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugrot   1993     500         3],
 9]

In [13]:
list_b[1][0]  #เอาlist_a ตัวที่ 0

1

In [14]:
list_b[1] #เอาlist_a

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_id         Model   Year   Value   Pera_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugrot   1993     500         3]

### - String คือ list ของตัวอักษร

In [15]:
x = 'shabu'
x[-2] ##ชี้ไปที่ตัว  b

'b'

In [16]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz',    Car_id         Model   Year   Value   Pera_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugrot   1993     500         3]
['pizza', [1, 2, 3, 0.9, 'aaz',    Car_id         Model   Year   Value   Pera_ID
0     101       Bentley   1973  100000         0
1     102   Rolls Royce   1965  330000         0
2     103       Peugrot   1993     500         3], 9]

In [17]:
list_a + list_b

[1,
 2,
 3,
 0.9,
 'aaz',
    Car_id         Model   Year   Value   Pera_ID
 0     101       Bentley   1973  100000         0
 1     102   Rolls Royce   1965  330000         0
 2     103       Peugrot   1993     500         3,
 'pizza',
 [1,
  2,
  3,
  0.9,
  'aaz',
     Car_id         Model   Year   Value   Pera_ID
  0     101       Bentley   1973  100000         0
  1     102   Rolls Royce   1965  330000         0
  2     103       Peugrot   1993     500         3],
 9]

### การสร้าง list
1. สร้าง list ว่าง
2. เพิ่มสมาชิกเข้าไปใน list
3. สามารถชี้ค่าใน list จากข้างหลังได้

1. การสร้าง list ว่าง

In [18]:
list_aa = []
list_aa

[]

In [19]:
list_bb = list()
print(list_bb)

[]

2. การเพิ่มสมาชิกลงไปใน list (.append())

In [20]:
list_aa.append('chiken')
list_aa.append('water')
list_aa.append('vegetable')

In [21]:
list_aa.append('rice')

In [22]:
list_aa

['chiken', 'water', 'vegetable', 'rice']

In [23]:
list_aa[-1] ##ชี้จากข้างหลัง

'rice'

In [24]:
list_aa[2] ##ชี้แบบปกติ (จากข้างหน้า)

'vegetable'

In [25]:
list_aa.append('plate') #ใส่เพิ่มเข้าไป
#list_aa
list_aa[-2]

'rice'

In [26]:
list_aa.append('spoon')
list_aa.append('fork')
list_aa.append('knife')

In [27]:
list_aa.append('apple')

### list slicing

: (colon)

เราจะตัด list โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์ทางคณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

- เหมือนสัญลักษณ์ของเส้นจำนวน ตัวหน้าคือวงกลมทึบ, ตัวหลังคือวงกลมโป่ง

![image.png]()

In [28]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'plate',
 'spoon',
 'fork',
 'knife',
 'apple']

In [30]:
list_aa[2:7:1] ##เริ่มตัวที่2 จบก่อนตัวที่7 มาทีละ1

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [31]:
list_aa[2:7]

['vegetable', 'rice', 'plate', 'spoon', 'fork']

In [32]:
list_aa[2:]

['vegetable', 'rice', 'plate', 'spoon', 'fork', 'knife', 'apple']

In [33]:
list_aa[:5]

['chiken', 'water', 'vegetable', 'rice', 'plate']

In [34]:
list_aa[:5:2] #กระโดดทีละ2

['chiken', 'vegetable', 'plate']

In [35]:
list_aa[::-1] #สลับจากหลังไปหน้า

['apple',
 'knife',
 'fork',
 'spoon',
 'plate',
 'rice',
 'vegetable',
 'water',
 'chiken']

##### **Quiz 1**

ตัด ส่วนของ list เหล่านี้มาจาก list_aa

1. 'iken'
2. 'get'
3. 'tab'

In [36]:
list_aa[0][2:]

'iken'

In [37]:
list_aa[2][2:5]

'get'

In [38]:
list_aa[2][4:7]

'tab'

In [39]:
list_aa[-1][1:]

'pple'

In [40]:
list_aa[1][:3]

'wat'

## Loop
การให้ com ทำงานที่ซ้ำๆกัน หรือทำงานที่คล้ายๆกันหลายๆรอบ

indent

``` python
for ตัวแปรที่เราจะรับค่าจาก list in list ที่ต้องการจะวนลูป :
    do something
    do another thing

this is outside the loop

```

In [41]:
list_aa

['chiken',
 'water',
 'vegetable',
 'rice',
 'plate',
 'spoon',
 'fork',
 'knife',
 'apple']

In [42]:
for each in list_aa:
    print (each)

chiken
water
vegetable
rice
plate
spoon
fork
knife
apple

In [43]:
for i in [1,2,3]:
    print (i, end='')
    print('xxx')

1xxx
2xxx
3xxx

ทำงานคล้ายๆกัน

In [45]:
for i in list_aa:
    print(f'now i is {i}')
    print(f'I like to eat {i}\n//////////')

now i is chiken
I like to eat chiken
//////////
now i is water
I like to eat water
//////////
now i is vegetable
I like to eat vegetable
//////////
now i is rice
I like to eat rice
//////////
now i is plate
I like to eat plate
//////////
now i is spoon
I like to eat spoon
//////////
now i is fork
I like to eat fork
//////////
now i is knife
I like to eat knife
//////////
now i is apple
I like to eat apple
//////////

In [46]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
list(range(10,20,2))  #เริ่ม 10 จบก่อน 20 กระโดดทีละ 2

[10, 12, 14, 16, 18]

In [47]:
for i in range(100):
    print(f'Ha{i}',end='')

Ha0Ha1Ha2Ha3Ha4Ha5Ha6Ha7Ha8Ha9Ha10Ha11Ha12Ha13Ha14Ha15Ha16Ha17Ha18Ha19Ha20Ha21Ha22Ha23Ha24Ha25Ha26Ha27Ha28Ha29Ha30Ha31Ha32Ha33Ha34Ha35Ha36Ha37Ha38Ha39Ha40Ha41Ha42Ha43Ha44Ha45Ha46Ha47Ha48Ha49Ha50Ha51Ha52Ha53Ha54Ha55Ha56Ha57Ha58Ha59Ha60Ha61Ha62Ha63Ha64Ha65Ha66Ha67Ha68Ha69Ha70Ha71Ha72Ha73Ha74Ha75Ha76Ha77Ha78Ha79Ha80Ha81Ha82Ha83Ha84Ha85Ha86Ha87Ha88Ha89Ha90Ha91Ha92Ha93Ha94Ha95Ha96Ha97Ha98Ha99