<a href="https://colab.research.google.com/github/Jaomiew/DPDM2023/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String manipulation and Print statement

python101

คือการมาทำความรู้จักเกี่ยวกับการเขียนโค้ด python เบื้องต้น
- ตัวอย่าง python
- ข้อมูล string (ประเภทข้อความ)
- ตัวแปร Variable คืออะไร
- การใช้คำสั่ง print และ advance print
- การคั่นกลาง (separator)
- การขึ้นบรรทัดใหม่ (end)
- ประเภทของตัวแปรประกอบด้วย
    1. character หรือตัวอักษร (string)
    2. int จำนวนเต็ม
    3. float จำนวนจริงหรือทศนิยม
    4. boolean ตรรกศาสตร์ (True, False)
    5. complex number (จำนวนเชิงซ้อน)
-การเปลี่ยนแปลงชนิดตัวแปร
-การเปลี่ยนที่ตัวแปร string
-การแยกตัวแปรด้วย string

##Python example

In [1]:
for i in ['a','b','c']:
    print(i,end=' ')
    print('/')
    for j in range (10):
        ccc=10

a /
b /
c /

In [2]:
for i in ['a','b','c']:
    print(i,end=' ')
    print('/')
    for j in range (10):
        ccc=10
        print(ccc)

a /
10
10
10
10
10
10
10
10
10
10
b /
10
10
10
10
10
10
10
10
10
10
c /
10
10
10
10
10
10
10
10
10
10

##Srting (text)

In [3]:
text1 = "Stat"  #กำหนดค่าตัวแปรใน text1

In [4]:
text2 = 'KKU'

In [5]:
print(text1)  #แสดงค่าของตัวแปรออกมา

Stat

In [6]:
print(text1 + text2) #แสดงค่า text1 และ text2

StatKKU

In [8]:
print(text1 + 5)  # ไม่สามารถ + ข้อมูลต่างชนิดกันได้

TypeError: ignored

In [9]:
print(5 + text1) # ไม่สามารถ + ข้อมูลต่างชนิดกันได้

TypeError: ignored

#Variable

In [ ]:
a = 5  #int จำนวนเต็ม # กำหนดตัวแปร เเละใส่ค่าของตัวแปร = 5
print(a)

In [10]:
b = 5.7 #float ทศนิยม # กำหนดตัวแปร เเละใส่ค่าของตัวแปร = 5.7
print(b)

5.7

In [11]:
c = a-b # กำหนดตัวแปร และค่าของตัวแปรเกิดจาก a - b
print(c)

NameError: ignored

## ข้อกำหนดในการตั้งชื่อตัวแปร
1. ตั้งให้สื่อความหมาย
2. ตั้งให้เป็นภาษาอังกฤษ
3. ใช้ตัวเลขผสมกับตัวหนังสือได้ แต่ห้ามขึ้นต้นด้วยตัวเลข
4. ห้ามมีเว้นวรรคในชื่อตัวแปร
5. ตัวใหญ่ ตัวเล็กค่าไม่เท่ากัน

##variable naming rules


1.   Try to use meaningful word
2.   Do it in English
3.   You can use number in variable name the name connot atart with number
4.   there should be no space in the name
5.   variable name is case-sensitive (Abc is not equal to ABC)

##Advanced printing

In [12]:
print(f'six plus five = {6+5}')  # เอา f' ไปใส่ข้างหน้าจะสามารนำตัวแปรที่มีค่าอยู่แล้วมาแทรกได้

six plus five = 11

In [13]:
print(f'six plus five = {6+5:.2f}')  # .2f ทำเป็นทศนิยม 2 ตำแหน่ง

six plus five = 11.00

In [14]:
print(f'six plus five = {6+5:.2f}%') # % ทำเป็นงเป็น %

six plus five = 11.00%

In [15]:
print(f'six plus five = {6+5:3.0f}%') # .0 คือไม่เอาทศนิยม

six plus five =  11%

In [16]:
print(f'six plus five = {6+5:03d}')  #ให้แสดงผลลัพธ์ 3 หลัก

six plus five = 011

In [17]:
st1 = f'six plus five = {6+5:03d}'  #ทำการเก็บข้อมูลใน st1

In [18]:
st1

'six plus five = 011'

# 3/7/66
https://www.w3schools.com/python/ref_func_print.asp

### separator (sep)

In [19]:
print ('stst')

stst

In [20]:
print ('stst','KKU') #มีช่องว่างถ้าใส่ ,

stst KKU

In [21]:
print ('stst','KKU', sep='/')

stst/KKU

### end

    Default is '\n'

for example

In [22]:
print ('stst')
print ('KKU')

stst
KKU

In [23]:
print ('stst',end='+-+')
print ('KKU')

stst+-+KKU

## Variable types

### char (character : ตัวอักษร)

### String + String mean plus char and another char

In [24]:
a = 'c'

In [25]:
b = 'haracter'

In [26]:
print (f'a={a} b={b} , then {a}+{b} = {a+b}')

a=c b=haracter , then c+haracter = character

In [27]:
A = 'c'
B = 'a'

In [28]:
print(A+B) # string +string คือมาต่อกันได้

ca

### integer * charmean multiple copies of the char

In [29]:
print(5*'T')

TTTTT

## Quiz1
print Ha for 100 times with one print function

In [30]:
print(100*'Ha')

HaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHaHa

## int (eger) (จำนวนเต็ม)

In [31]:
int_a = 7
int_b = 2

In [32]:
print(type (int_a),type (int_b))

<class 'int'> <class 'int'>

In [33]:
int_c = int_a + int_b ###assing the value as the output of operation
print(int_c)

9

### Float (จำนวนจริง ทศนิยม)

In [34]:
fl_a = 7.  #ใส่ . สามารถทำให้เป็นค่าทศนิยมได้
fl_b = 2.571

In [35]:
fl_a

7.0

In [36]:
fl_b

2.571

In [37]:
print (type(fl_a))

<class 'float'>

### Boolean (ตัวแปรที่มีค่า true หรือ False) ตรรกศาสตร์

In [38]:
b_T = True

In [39]:
b_F = False

all of equation

== is equal

!= is not equal

> is geater than

<= is less than or equal

| is or

& is and

In [40]:
b_T | b_F

True

### Complex number (จำนวนเชิงซ้อน)

In [41]:
x = 1 + 2j

### we can check the datatype with type()

In [42]:
print(f'variable x value is {x} and datatype is {type(x)} ')

variable x value is (1+2j) and datatype is <class 'complex'>

In [43]:
print(f'variable A value is {A} and datatype is {type(A)} ')

variable A value is c and datatype is <class 'str'>

In [44]:
print(f'variable a value is {a} and datatype is {type(a)} ')

variable a value is c and datatype is <class 'str'>

### การแปลงชนิดของตัวแปร Variable Casting

In [45]:
print(f'int_a = {int_a} int_b = {int_b} Fl_a = {fl_a} Fl_b = {fl_b}')

int_a = 7 int_b = 2 Fl_a = 7.0 Fl_b = 2.571

In [46]:
str_a = '6'
str_b = '-2'

In [47]:
str_a2int = int(str_a) # Transform string into int
print(f'ตัวแปร str_a2int ค่าคือ {str_a2int} ชนิด {type(str_a2int)}')

ตัวแปร str_a2int ค่าคือ 6 ชนิด <class 'int'>

In [48]:
str_a2int + int_a

13

In [49]:
str_a + int_a #ไม่สามารถนำ string + int ได้

TypeError: ignored

In [51]:
str(fl_b) #transform float to string

'2.571'

In [52]:
int(fl_b) #transform float to int (but it will cut te floating point)

2

### Replace() แทนที่ String

In [53]:
st_test1 = 'Department of statistics,'

In [54]:
st_test1.replace ('e',' ') #replace e with space

'D partm nt of statistics,'

In [55]:
st_test1

'Department of statistics,'

In [56]:
st_test2 = st_test1.replace ('e',' ') #ลบ e ออก

In [57]:
st_test2

'D partm nt of statistics,'

In [58]:
st_test1 .replace ('ti','TI') # Modify ti to TI

'Department of staTIsTIcs,'

### split() แยก string

In [59]:
'a b c d e f g'.split() #ตัด string ที่ช่องว่าง

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [60]:
'a,b/c,d/e,f g'.split('/')

['a,b', 'c,d', 'e,f g']

In [61]:
'abc de fg'.split() # แยกด้วย /

['abc', 'de', 'fg']

In [62]:
'a,b/c,d e/f g'.split('/') # แยกด้วย /

['a,b', 'c,d e', 'f g']